body {
    background-color: rgb(36,40,47);
}

*::selection {
    color: rgb(255,152,0);
    background: rgb(32,35,41);
}

a, p {
    text-decoration: none;
    /* color: white; */
}

/* a:hover {
    color: rgb(255,152,0);
} */

.box-shadow {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.card {
    background-color: rgb(60,62,68);
    color: white;
}

img:hover {
    opacity: 0.95;
}

.width-100 {
    width: 100%;
}

.bg-Dead, .bg-Alive, .bg-unknown {
    height: 1rem;
    border-radius: 50%;
}

.bg-Dead {
    background-color: red;
}

.bg-Alive {
    background-color: rgb(85, 204, 68);
}

.bg-unknown {
    background-color: rgb(158, 158, 158);;
}
