<div class="container mt-4 mb-4">

    {{!-- Navigation Path --}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
    </nav>

    <div class="row">
        {{!-- Characters Card --}}
        <div class="col-xl-6">
            <div class="card mb-3 box-shadow">
                <a href="#/characters/1"><img src="./img/characters.jfif" class="card-img-top"
                        alt="characters image"></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="#/characters/1">Characters</a></h5>
                    {{!-- <h5 class="card-title"><a href="/character/?page=/1">Characters</a></h5> --}}
                    <p class="card-text">Search and see information about every character on the show.</p>
                    {{!-- <p class="card-text"><small class="text-muted">Last updated none of your business ago</small>
                    </p> --}}
                </div>
            </div>
        </div>

        {{!-- Locations Card --}}
        <div class="col-xl-6">
            <div class="card mb-3 box-shadow">
                <a href="#/locations/1"><img src="./img/locations.jfif" class="card-img-top" alt="locations image"></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="#/locations/1">Locations</a></h5>
                    <p class="card-text">Search and see information about every location on the show.</p>
                    {{!-- <p class="card-text"><small class="text-muted">Last updated none of your business ago</small>
                    </p> --}}
                </div>
            </div>
        </div>

        {{!-- Episodes Card --}}
        <div class="col-xl-6">
            <a href="/episodes">
                <div class="card mb-3 box-shadow">
                    <a href="#/episodes/1"><img src="./img/episodes.jfif" class="card-img-top" alt="episodes image"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#/episodes/1">Episodes</a></h5>
                        <p class="card-text">Search and see information about every episode on the show.</p>
                        {{!-- <p class="card-text"><small class="text-muted">Last updated none of your business
                                ago</small></p> --}}
                    </div>
                </div>
            </a>
        </div>

        {{!-- Favorites Card --}}
        <div class="col-xl-6">
            <div class="card mb-3 box-shadow">
                <a href="/favorites"><img src="./img/favorites.jpg" class="card-img-top" alt="favorites"></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/favorites">My Panel</a></h5>
                    <p class="card-text">Save, edit and follow favorite characters, locations and episodes.</p>
                    {{!-- <p class="card-text"><small class="text-muted">Last updated none of your business
                            ago</small></p> --}}
                </div>
            </div>
        </div>
    </div>
</div>