<div class="container mt-4 mb-4">

    {{!-- Navigation Path --}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/home">Home</a></li>
            <li class="breadcrumb-item"><a href="#/locations/1">Characters</a></li>
        </ol>
    </nav>

    <div class="row">
        {{#each locations}}
        <div class="col-xl-4 p-4">
            <div class="card text-center">
                <div class="card-header">
                    {{type}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{dimension}}</p>
                    <a href="#" class="btn btn-primary">See featured episodes</a>
                </div>
                <div class="card-footer text-muted">
                    {{created}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>